body {
	font-family: Arial, sans-serif;
	width: 600px;
	margin: auto;
}

h1, hr {
	margin: 0px;
	padding: 0px;
}

#banner {
	background: black;
	padding: 5px;
	color: white;
	margin-top: 5px;
	margin-bottom: 10px;
}

input[type=text] {
	width: 300px;
}

label {
	margin-right: 20px;
	font-weight: bold;
	width: 150px;
	float: left;
}

textarea {
	display: block;
	width: 500px;
	height: 200px;
}
	
	
	
	
	
	
	
	