.web-context-menu {
	margin:0,padding:0;display:none;
	font-size:14px;
	width:180px;
	position: fixed;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	background:#fff;
}
.web-context-menu * {margin:0,padding:0;font-style:normal;}
.web-context-menu-items { }
.web-context-menu-items .menu-item-line {
	border-bottom:1px solid #efefef;width:93.5%;margin:0 auto;
}
.web-context-menu-items .menu-item-line:last-child {
	display:none;
}
.web-context-menu-items .web-context-menu-item {
	position:relative;
}
.web-context-menu-items .web-context-menu-item:last-child {
	border:0;
}
.web-context-menu-items .web-context-menu-item .menu-item-name {
	display:block;background:;
	cursor:pointer;padding:7px 10px;
}
.web-context-menu-items .web-context-menu-item:hover .menu-item-name {
	background:rgba(0,0,0,.01);
}
.web-context-menu-items .web-context-menu-item > .web-context-menu-items {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	background:#fff;
}
.web-context-menu-items .web-context-menu-item:hover > .web-context-menu-items {
	display:block;
}
.web-context-menu-items .web-context-menu-item .menu-item-name > i {
	display:inline-block;
	transform:rotate(90deg);
	float:right;
	margin-right:5px;
	color:#aaa;
}
.web-context-menu-items .web-context-menu-item > .web-context-menu-items {
	position:absolute;right:-180px;top:0;
	width:180px;display:none;
}