<div class="views">
    <div class="view view-main">
        <div class="pages navbar-through">
            <div data-page="index" class="page editor flex-horizontal with-logo">
                <div id="editor_sdk" class="page-content no-fastclick">
                </div>
            </div>
        </div>
    </div>
</div>