[submodule "WebRoot/web/static/office-editor"]
	path = WebRoot/web/static/office-editor
	url = https://gitee.com/RainyGao/office-editor.git
[submodule "Docs"]
	path = Docs
	url = https://gitee.com/RainyGao/DocSys-Docs.git
[submodule "WebRoot/WEB-INF/lib"]
	path = WebRoot/WEB-INF/lib
	url = https://gitee.com/RainyGao/DocSys-Libs.git
