<section class="toolbar toolbar-view">
    <section class="box-tabs">
        <div class="extra left"></div>
        <%= tabsmarkup %>
        <div class="extra right">
        </div>
    </section>
    <section class="box-controls">
        <section class="box-panels">
        </section>
    </section>
</section>