h4, h5, h6, h1, h2, h3 {
	margin-top: 0;
}
ul, ol {
	margin: 0;
}
p {
	margin: 0;
	font-weight: 300;
}
html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	background-color: #FFF;
	color: #777;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.header {
	background: #fff;
	padding: 2em 0;
	border-top: 3px solid #2ABB9B;
}
.navbar-brand {
	font-size: 32px;
	font-weight: 700;
	color: #444;
	letter-spacing: -1px;
	padding: 5px;
}
.navbar-brand:hover {
	color: #2ABB9B;
}
.navbar-brand .fa {
	color: #2abb9b;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.menu {
	float: right;
}
.menu li {
	display: inline-block;
}
.menu li:first-child {
	margin-left: 0;
}
.menu li a {
	display: block;
	font-size: 1em;
	color: #777;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	/*text-transform: uppercase;*/
	font-weight: 500;
	letter-spacing: 1px;
}
#nav .current a {
	color: #2ABB9B;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover, .menu li.active a {
	color: #2ABB9B;
	background: #fff !important;
}
.toggleMenu {
	display: none;
	padding: 4px 5px 0px 5px;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav ul {
	list-style: none;
}

@media screen and (max-width:800px) {
.menu {
	margin: 10px 0;
}
.active {
	display: block;
}
.menu li a {
	text-align: left;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
.nav {
	list-style: none;
 *zoom: 1;
	width: 95%;
	position: absolute;
	right: 10px;
	background: #051619;
	top: 86px;
	z-index: 9999;
	border: 1px solid #B11D1D;
}
.menu li a span {
	text-align: center;
	top: 15px;
}
.nav li ul {
	width: 100%;
}
.menu ul {
	margin: 0;
}
.nav > li.hover > ul {
	width: 100%;
}
.nav > li {
	float: none;
	display: block;
}
.nav ul {
	display: block;
	width: 100%;
}
.nav > li.hover > ul, .nav li li.hover ul {
	position: static;
}
.nav li a {
	border-top: 1px solid #B11D1D;
	background: #fff;
}
.nav li:first-child a {
	border-top: none;
}
}
.banner {
	background: url(../images/banner.jpg) no-repeat center;
	min-height: 500px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
.banner-info {
	margin-top: 8em;
}
.banner-info h1 {
	font-size: 3em;
	color: #eee;
	line-height: 1.4em;
	margin: 0em;
	font-weight: 500;
}
.banner-info p {
	color: #ddd;
	font-size: 1.2em;
	/*text-transform: uppercase;*/
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.8em;
	margin-top: 1em;
}
.content_white {
	text-align: center;
	padding: 3em 0;
}
.content_white h2 {
	font-size: 2em;
	font-weight: 500;
}
.content_white p {
	color: #777;
	font-size: 1.2em;
	font-weight: 300;
	/*line-height: 0.6em;*/
}
.featured_content {
	background: #2ABB9B;
}
.feature_grid1 {
	width: 23.5%;
	margin-right: 1em;
	border-right: 1px solid #5fccb4;
	padding: 4em 2em 4em 0;
}
.feature_grid2 {
	width: 21%;
	padding: 4em 0;
}
.feature_grid1 .fa, .feature_grid2 .fa {
	color: #e5e52d;
}
h3.m_1 {
	padding: 0.8em 0;
	margin: 0;
}
h3.m_1 a {
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px #4ca390;
}
h3.m_1 a:hover {
	color: #e5e52d;
}
p.m_2 {
	color: #e9f8f5;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-weight: 300;
}
.banner_btn {
	display: inline-block;
	padding: 6px 20px;
	font-size: 1em;
	cursor: pointer;
	background: #2ABB9B;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	outline: none;
	margin-top: 30px;
	border-radius: 5px;
}

.banner_btn2 {
	margin-left:10px;
    background:#2e82ff;
}

.banner_btn3 {
	margin-left:10px;
    background:#e5e52d;
}
.banner_btn:hover {
	background: #22967c;
	color: #fff;
	text-decoration: none;
}
.feature_btn {
	display: inline-block;
	padding: 6px 20px;
	font-size: 1em;
	cursor: pointer;
	background: #5fccb4;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	outline: none;
	margin-top: 10px;
	border-radius: 5px;
}
.feature_btn:hover {
	background: #e5e52d;
	color: #555;
	text-decoration: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 3em 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	padding-right: 30px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top: -8.6em;
}
.nbs-flexisel-nav-left {
	left: 32.5em;
	background: url(../images/img-sprite.png) no-repeat -99px -101px;
}
.nbs-flexisel-nav-right {
	right: 35em;
	background: url(../images/img-sprite.png) no-repeat -133px -102px;
}
a:focus {
	outline: 0px;
}
.fa {
	color: #2ABB9B;
}
.footer_bottom {
	padding: 2em 0;
	background: #2ABB9B;
}
.copy {
	text-align: center;
}
.copy p {
	font-size: 1em;
	color: #fff;
}
.copy p a {
	color: #fff;
	border-bottom: 1px dotted;
}
.copy p a:hover {
	color: #e5e52d;
	border-bottom: 1px solid;
	text-decoration: none;
}
.about {
	background: #555;
	margin-bottom: 4em;
	background: url(../images/title-bg.jpg) center no-repeat;
	background-size: cover;
	height: 180px;
}
.title-section {
	position: relative;
	padding-top: 60px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 20px;
}
.title-section h1 {
	margin: 0 0 5px 0;
	line-height: 58px;
	font-size: 34px;
	font-weight: 500;
	color: #555;
}
.title-section ul {
	background: none;
	position: relative;
	margin: 0;
	padding: 9px 0 10px 0;
	border-top: 1px solid #597275;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.title-section ul li {
	line-height: 18px;
	font-size: 13px;
	color: #5f6775;
}
.title-section ul li a {
	color: #fff;
}
h3.m_2 {
	font-size: 1.7em;
	font-weight: 500;
	color: #666;
	margin-bottom: 1em;
}
.service_box {
	padding-bottom: 50px;
}
.service_box .fa {
	color: #2ABB9B;
}
.service_box h2 {
	font-size: 1.6em;
	color: #5d5f60;
	padding-top: 0.3em;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0.5em;
}
.service_box h5 a {
	font-size: 16px;
	color: #555;
	margin-bottom: 1em;
	line-height: 1.5em;
}
.service_box h5 a:hover {
	text-decoration: none;
	color: #e4551d;
}
.service_box p {
	font-size: 1em;
	color: #777;
	margin-bottom: 1.4em;
	line-height: 1.6em;
	text-align: left;
}
.about-info {
	padding: 4em 0;
}
.about-info h2 {
	padding-bottom: 20px;
}
.about-info h3, .about_content h3 {
	padding-bottom: 20px;
}
.about_content {
	padding: 1em 0 4em 0;
}
.about_content img {
	padding: 0 20px 20px 0;
	float: left;
}
.highlight-info {
	background: url(../images/lab.jpg) center fixed;
	background-size: cover;
	color: #fff;
	padding: 6em 0;
}
.highlight-info h4 {
	color: #fff;
	margin: 0.5em 0 0 0;
}
.testimonial-solid {
	padding-top: 50px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 70px;
	margin: 0 0 0 0;
	background: #fff;
	text-align: center;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li {
	border: 1px solid #ccc;
}
.carousel-indicators .active {
	background-color: #ccc;
	margin-right: 4px;
}
.testimonial-solid h2 {
	font-size: 2em;
	font-weight: 500;
	padding-bottom: 20px;
}
.testimonial-solid p {
	font-size: 1em;
	line-height: 30px;
}
#accordion-alt3 .panel-heading h4 {
	font-size: 14px;
	line-height: 28px;
}
.panel .panel-heading h4 {
	font-weight: 400;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
	color: inherit;
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 2px;
}
.panel {
	margin-bottom: 18px;
	background-color: #F4F4F4;
	border: 1px solid transparent;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
#accordion-alt3 .panel-heading h4 a i {
	font-size: 16px;
	line-height: 18px;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	color: #2ABB9B;
	text-align: center;
	border-radius: 50%;
	margin-left: 6px;
}
.follow-us {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.social-icon {
	padding-top: 6px;
	font-size: 16px;
	text-align: center;
	width: 32px;
	height: 32px;
	border: 2px solid #d5f1eb;
	border-radius: 50%;
	color: #d5f1eb;
	margin: 5px;
}
a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
	text-decoration: none;
	color: #e5e52d;
	border-color: #e5e52d;
}
.contact {
	padding-top: 1em;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 4em;
}
.contact_top {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 4em;
}
.contact_details {
	background-color: #f6f6f6;
	padding: 20px;
	border-left: 2px solid #fff;
}
.contact_details h5 {
	font-size: 1.2em;
	font-weight: 500;
	color: #666;
	margin-bottom: 1em;
}
.contact_address, .contact_mail {
	overflow: hidden;
	font-size: 1em;
	color: #777;
	line-height: 1.5em;
}
.contact_bottom h3 {
	font-size: 1.5em;
	font-weight: 500;
	color: #666;
}
.contact_bottom p {
	font-size: 1em;
	line-height: 1.8em;
	color: #888;
	margin: 1em 0;
}
.contact-to input[type="text"] {
	padding: 10px 10px;
	width: 32.5%;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #999;
	background: #FFF;
	float: left;
	outline: none;
	font-size: 0.85em;
}
.text2 input[type="text"], .text2 textarea {
	width: 99%;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #999;
	outline: none;
	margin-bottom: 25px;
	height: 150px;
	padding: 10px 10px;
	font-size: 0.85em;
	resize: none;
}
.submit {
	margin-top: 2em;
	display: inline-block;
	padding: 8px 20px;
	font-size: 1em;
	cursor: pointer;
	border: none;
	background: #2ABB9B;
	color: #fff;
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-o-transition: all 0.3s;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.submit:hover {
	text-decoration: none;
	background: #22967c;
	color: #fff;
}

@media (max-width:1024px) {
.feature_grid1 {
	width: 23%;
}
.banner {
	min-height: 450px;
}
.banner-info {
	margin-top: 4em;
}
.nbs-flexisel-nav-right {
	right: 30em;
}
.nbs-flexisel-nav-left {
	left: 29em;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	margin-top: -7.6em;
}
}

@media (max-width:800px) {
.header {
	padding: 1em 0;
}
.feature_grid1 {
	width: 100%;
	padding: 4em 0em 0em 0;
}
.banner-info h1 {
	font-size: 2em;
}
.banner {
	min-height: 400px;
}
.feature_grid2 {
	width: 100%;
}
.nbs-flexisel-nav-right {
	right: 23em;
}
.nbs-flexisel-nav-left {
	left: 22em;
}
.banner-info p {
	font-size: 0.85em;
}
.toggleMenu {
	padding: 0;
}
.service_box {
	margin-bottom: 2em;
}
.contact_details {
	margin-bottom: 2em;
}
.contact-to input[type="text"] {
	width: 32%;
}
}

@media (max-width:640px) {
.content_white p {
	font-size: 1.3em;
}
.nbs-flexisel-nav-left {
	left: 18.5em;
}
.nbs-flexisel-nav-right {
	right: 18.5em;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	margin-top: -5.8em;
}
.service_box h2 {
	margin-bottom: 0.5em;
}
}

@media (max-width:480px) {
.banner {
	min-height: 250px;
}
.banner-info h1 {
	font-size: 1.5em;
}
.banner-info p {
	font-size: 0.8125em;
}
.banner-info {
	margin-top: 2em;
}
.header {
	padding: 0.5em 0;
}
.content_white h2 {
	font-size: 1.5em;
}
.content_white p {
	font-size: 1em;
}
.nbs-flexisel-nav-right {
	right: 13.5em;
}
.nbs-flexisel-nav-left {
	left: 13.5em;
}
.contact-to input[type="text"] {
	width: 31%;
}
.nav {
	top: 70px;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	margin-top: -5em;
}
}

@media (max-width:320px) {
.banner-info h1 {
	font-size: 1.2em;
}
.banner-info p {
	font-size: 12px;
}
.banner {
	min-height: 150px;
}
.content_white p {
	font-size: 0.95em;
	line-height: 1em;
	padding: 0 10px;
}
.content_white h2 {
	font-size: 1.3em;
}
.nbs-flexisel-nav-right {
	right: 8.5em;
}
.nbs-flexisel-nav-left {
	left: 8.5em;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	margin-top: -4.2em;
}
h3.m_1 {
	padding: 0.5em 0;
}
.contact-to input[type="text"] {
	width: 99%;
}
input.text {
	margin-left: 0 !important;
}
}
