<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DocSystem.dao.DocAuthMapper">
  <resultMap id="BaseResultMap" type="com.DocSystem.entity.DocAuth">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="GROUP_ID" jdbcType="INTEGER" property="groupId" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="PRIORITY" jdbcType="INTEGER" property="priority" />
    <result column="DOC_ID" jdbcType="BIGINT" property="docId" />
    <result column="REPOS_ID" jdbcType="INTEGER" property="reposId" />
    <result column="IS_ADMIN" jdbcType="INTEGER" property="isAdmin" />
    <result column="ACCESS" jdbcType="INTEGER" property="access" />
    <result column="EDIT_EN" jdbcType="INTEGER" property="editEn" />
    <result column="ADD_EN" jdbcType="INTEGER" property="addEn" />
    <result column="DELETE_EN" jdbcType="INTEGER" property="deleteEn" />
    <result column="DOWNLOAD_EN" jdbcType="INTEGER" property="downloadEn" />
    <result column="HERITABLE" jdbcType="INTEGER" property="heritable" />
    <result column="DOC_PATH" jdbcType="VARCHAR" property="docPath" />
    <result column="DOC_NAME" jdbcType="VARCHAR" property="docName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, GROUP_ID, TYPE, PRIORITY, DOC_ID, REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, 
    ADD_EN, DELETE_EN, DOWNLOAD_EN, HERITABLE, DOC_PATH, DOC_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doc_auth
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from doc_auth
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.DocSystem.entity.DocAuth">
    insert into doc_auth (ID, USER_ID, GROUP_ID, 
      TYPE, PRIORITY, DOC_ID, 
      REPOS_ID, IS_ADMIN, ACCESS, 
      EDIT_EN, ADD_EN, DELETE_EN, 
      DOWNLOAD_EN, HERITABLE, DOC_PATH, 
      DOC_NAME)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, #{docId,jdbcType=BIGINT}, 
      #{reposId,jdbcType=INTEGER}, #{isAdmin,jdbcType=INTEGER}, #{access,jdbcType=INTEGER}, 
      #{editEn,jdbcType=INTEGER}, #{addEn,jdbcType=INTEGER}, #{deleteEn,jdbcType=INTEGER}, 
      #{downloadEn,jdbcType=INTEGER}, #{heritable,jdbcType=INTEGER}, #{docPath,jdbcType=VARCHAR}, 
      #{docName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.DocSystem.entity.DocAuth">
    insert into doc_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="docId != null">
        DOC_ID,
      </if>
      <if test="reposId != null">
        REPOS_ID,
      </if>
      <if test="isAdmin != null">
        IS_ADMIN,
      </if>
      <if test="access != null">
        ACCESS,
      </if>
      <if test="editEn != null">
        EDIT_EN,
      </if>
      <if test="addEn != null">
        ADD_EN,
      </if>
      <if test="deleteEn != null">
        DELETE_EN,
      </if>
      <if test="downloadEn != null">
        DOWNLOAD_EN,
      </if>
      <if test="heritable != null">
        HERITABLE,
      </if>
      <if test="docPath != null">
        DOC_PATH,
      </if>
      <if test="docName != null">
        DOC_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="docId != null">
        #{docId,jdbcType=BIGINT},
      </if>
      <if test="reposId != null">
        #{reposId,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="access != null">
        #{access,jdbcType=INTEGER},
      </if>
      <if test="editEn != null">
        #{editEn,jdbcType=INTEGER},
      </if>
      <if test="addEn != null">
        #{addEn,jdbcType=INTEGER},
      </if>
      <if test="deleteEn != null">
        #{deleteEn,jdbcType=INTEGER},
      </if>
      <if test="downloadEn != null">
        #{downloadEn,jdbcType=INTEGER},
      </if>
      <if test="heritable != null">
        #{heritable,jdbcType=INTEGER},
      </if>
      <if test="docPath != null">
        #{docPath,jdbcType=VARCHAR},
      </if>
      <if test="docName != null">
        #{docName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.DocSystem.entity.DocAuth">
    update doc_auth
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=INTEGER},
      </if>
      <if test="docId != null">
        DOC_ID = #{docId,jdbcType=BIGINT},
      </if>
      <if test="reposId != null">
        REPOS_ID = #{reposId,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        IS_ADMIN = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="access != null">
        ACCESS = #{access,jdbcType=INTEGER},
      </if>
      <if test="editEn != null">
        EDIT_EN = #{editEn,jdbcType=INTEGER},
      </if>
      <if test="addEn != null">
        ADD_EN = #{addEn,jdbcType=INTEGER},
      </if>
      <if test="deleteEn != null">
        DELETE_EN = #{deleteEn,jdbcType=INTEGER},
      </if>
      <if test="downloadEn != null">
        DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER},
      </if>
      <if test="heritable != null">
        HERITABLE = #{heritable,jdbcType=INTEGER},
      </if>
      <if test="docPath != null">
        DOC_PATH = #{docPath,jdbcType=VARCHAR},
      </if>
      <if test="docName != null">
        DOC_NAME = #{docName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.DocSystem.entity.DocAuth">
    update doc_auth
    set USER_ID = #{userId,jdbcType=INTEGER},
      GROUP_ID = #{groupId,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=INTEGER},
      PRIORITY = #{priority,jdbcType=INTEGER},
      DOC_ID = #{docId,jdbcType=BIGINT},
      REPOS_ID = #{reposId,jdbcType=INTEGER},
      IS_ADMIN = #{isAdmin,jdbcType=INTEGER},
      ACCESS = #{access,jdbcType=INTEGER},
      EDIT_EN = #{editEn,jdbcType=INTEGER},
      ADD_EN = #{addEn,jdbcType=INTEGER},
      DELETE_EN = #{deleteEn,jdbcType=INTEGER},
      DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER},
      HERITABLE = #{heritable,jdbcType=INTEGER},
      DOC_PATH = #{docPath,jdbcType=VARCHAR},
      DOC_NAME = #{docName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSelective" parameterType="com.DocSystem.entity.DocAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doc_auth
    where 1 = 1
    <if test="id != null">
      and ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and USER_ID = #{userId,jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
      and GROUP_ID = #{groupId,jdbcType=INTEGER}
    </if>
    <if test="docId != null">
      and DOC_ID = #{docId,jdbcType=BIGINT}
    </if>
    <if test="reposId != null">
      and REPOS_ID = #{reposId,jdbcType=INTEGER}
    </if>
	<if test="isAdmin != null">
      and IS_ADMIN = #{isAdmin,jdbcType=INTEGER}
    </if>    
    <if test="access != null">
      and ACCESS = #{access,jdbcType=INTEGER}
    </if>
    <if test="editEn != null">
      and EDIT_EN = #{editEn,jdbcType=INTEGER}
    </if>
    <if test="addEn != null">
      and ADD_EN = #{addEn,jdbcType=INTEGER}
    </if>
    <if test="deleteEn != null">
      and DELETE_EN = #{deleteEn,jdbcType=INTEGER}
    </if>
    <if test="downloadEn != null">
      and DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER}
    </if>
    <if test="heritable != null">
      and HERITABLE = #{heritable,jdbcType=INTEGER},
    </if>
    <if test="docPath != null">
      and DOC_PATH = #{docPath,jdbcType=VARCHAR},
    </if>
    <if test="docName != null">
      and DOC_NAME = #{docName,jdbcType=VARCHAR},
    </if>    
  </select>
  <select id="getDocAuth" parameterType="com.DocSystem.entity.DocAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doc_auth
    where 1 = 1
    <if test="id != null">
      and ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and (USER_ID = #{userId,jdbcType=INTEGER} or USER_ID = 0)
    </if>
    <if test="groupId != null">
      and (GROUP_ID = #{groupId,jdbcType=INTEGER} or USER_ID = 0)
    </if>
    <if test="docId != null">
      and DOC_ID = #{docId,jdbcType=BIGINT}
    </if>
    <if test="reposId != null">
      and REPOS_ID = #{reposId,jdbcType=INTEGER}
    </if>
	<if test="isAdmin != null">
      and IS_ADMIN = #{isAdmin,jdbcType=INTEGER}
    </if>
    <if test="access != null">
      and ACCESS = #{access,jdbcType=INTEGER}
    </if>
    <if test="editEn != null">
      and EDIT_EN = #{editEn,jdbcType=INTEGER}
    </if>
    <if test="addEn != null">
      and ADD_EN = #{addEn,jdbcType=INTEGER}
    </if>
    <if test="deleteEn != null">
      and DELETE_EN = #{deleteEn,jdbcType=INTEGER}
    </if>
    <if test="downloadEn != null">
      and DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER}
    </if>
    <if test="heritable != null">
      and HERITABLE = #{heritable,jdbcType=INTEGER}
    </if>
    <if test="docPath != null">
      and DOC_PATH = #{docPath,jdbcType=VARCHAR}
    </if>
    <if test="docName != null">
      and DOC_NAME = #{docName,jdbcType=VARCHAR}
    </if> 
  </select>
  
  <delete id="deleteSelective" parameterType="com.DocSystem.entity.DocAuth">
    delete from doc_auth
      where 1 = 1
      <if test="id != null">
        and ID = #{id,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and USER_ID = #{userId,jdbcType=INTEGER}
      </if>
      <if test="groupId != null">
        and GROUP_ID = #{groupId,jdbcType=INTEGER}
      </if>
      <if test="docId != null">
        and DOC_ID = #{docId,jdbcType=BIGINT}
      </if>
      <if test="reposId != null">
        and REPOS_ID = #{reposId,jdbcType=INTEGER}
      </if>
  </delete>
  <select id="getAllDocAuthList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
        doc_auth.ID as id, doc_auth.TYPE as type, doc_auth.PRIORITY as priority, USER_ID, GROUP_ID, DOC_ID, REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, ADD_EN, DELETE_EN, DOWNLOAD_EN, HERITABLE, DOC_PATH, DOC_NAME, 
    	user.NAME as userName,user.REAL_NAME as realName,
    	user_group.NAME as groupName
    from doc_auth 
    LEFT JOIN user on doc_auth.USER_ID = user.ID
    LEFT JOIN user_group on doc_auth.GROUP_ID = user_group.ID
 	where REPOS_ID = #{reposId,jdbcType=INTEGER}
  </select>    
  <select id="getDocAuthForUser" parameterType="com.DocSystem.entity.DocAuth" resultMap="BaseResultMap">
    select 
        doc_auth.ID as id, doc_auth.TYPE as type, doc_auth.PRIORITY as priority, USER_ID, GROUP_ID, DOC_ID, REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, ADD_EN, DELETE_EN, DOWNLOAD_EN, HERITABLE, DOC_PATH, DOC_NAME, 
	    user.NAME as userName,user.REAL_NAME as realName
	from doc_auth
    LEFT JOIN user on doc_auth.USER_ID = user.ID
    where REPOS_ID = #{reposId,jdbcType=INTEGER}
		and (USER_ID = #{userId,jdbcType=INTEGER} or USER_ID = 0 or GROUP_ID IN (select GROUP_ID from group_member where USER_ID = #{userId,jdbcType=INTEGER}))
  </select>
  <select id="getDocAuthForGroup" parameterType="com.DocSystem.entity.DocAuth" resultMap="BaseResultMap">
    select 
        doc_auth.ID as id, doc_auth.TYPE as type, doc_auth.PRIORITY as priority, USER_ID, GROUP_ID, DOC_ID, REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, ADD_EN, DELETE_EN, DOWNLOAD_EN, HERITABLE, DOC_PATH, DOC_NAME, 
	    user_group.NAME as groupName
	from doc_auth
    LEFT JOIN user_group on doc_auth.GROUP_ID = user_group.ID
 	where REPOS_ID = #{reposId,jdbcType=INTEGER}
		and (GROUP_ID = #{groupId,jdbcType=INTEGER} or USER_ID = 0)
  </select>
  <select id="getDocAuthForAnyUser" parameterType="com.DocSystem.entity.DocAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doc_auth
    where REPOS_ID = #{reposId,jdbcType=INTEGER}
		and USER_ID = 0
  </select>
</mapper>