<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DocSystem.dao.ReposAuthMapper">
  <resultMap id="BaseResultMap" type="com.DocSystem.entity.ReposAuth">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="GROUP_ID" jdbcType="INTEGER" property="groupId" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="PRIORITY" jdbcType="INTEGER" property="priority" />
    <result column="REPOS_ID" jdbcType="INTEGER" property="reposId" />
    <result column="IS_ADMIN" jdbcType="INTEGER" property="isAdmin" />
    <result column="ACCESS" jdbcType="INTEGER" property="access" />
    <result column="EDIT_EN" jdbcType="INTEGER" property="editEn" />
    <result column="ADD_EN" jdbcType="INTEGER" property="addEn" />
    <result column="DELETE_EN" jdbcType="INTEGER" property="deleteEn" />
    <result column="DOWNLOAD_EN" jdbcType="INTEGER" property="downloadEn" />
    <result column="HERITABLE" jdbcType="INTEGER" property="heritable" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, GROUP_ID, TYPE, PRIORITY, REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, ADD_EN, 
    DELETE_EN, DOWNLOAD_EN, HERITABLE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos_auth
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from repos_auth
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.DocSystem.entity.ReposAuth">
    insert into repos_auth (ID, USER_ID, GROUP_ID, 
      TYPE, PRIORITY, REPOS_ID, 
      IS_ADMIN, ACCESS, EDIT_EN, 
      ADD_EN, DELETE_EN, DOWNLOAD_EN, 
      HERITABLE)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, #{reposId,jdbcType=INTEGER}, 
      #{isAdmin,jdbcType=INTEGER}, #{access,jdbcType=INTEGER}, #{editEn,jdbcType=INTEGER}, 
      #{addEn,jdbcType=INTEGER}, #{deleteEn,jdbcType=INTEGER}, #{downloadEn,jdbcType=INTEGER}, 
      #{heritable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.DocSystem.entity.ReposAuth">
    insert into repos_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="reposId != null">
        REPOS_ID,
      </if>
      <if test="isAdmin != null">
        IS_ADMIN,
      </if>
      <if test="access != null">
        ACCESS,
      </if>
      <if test="editEn != null">
        EDIT_EN,
      </if>
      <if test="addEn != null">
        ADD_EN,
      </if>
      <if test="deleteEn != null">
        DELETE_EN,
      </if>
      <if test="downloadEn != null">
        DOWNLOAD_EN,
      </if>
      <if test="heritable != null">
        HERITABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="reposId != null">
        #{reposId,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="access != null">
        #{access,jdbcType=INTEGER},
      </if>
      <if test="editEn != null">
        #{editEn,jdbcType=INTEGER},
      </if>
      <if test="addEn != null">
        #{addEn,jdbcType=INTEGER},
      </if>
      <if test="deleteEn != null">
        #{deleteEn,jdbcType=INTEGER},
      </if>
      <if test="downloadEn != null">
        #{downloadEn,jdbcType=INTEGER},
      </if>
      <if test="heritable != null">
        #{heritable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.DocSystem.entity.ReposAuth">
    update repos_auth
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        GROUP_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=INTEGER},
      </if>
      <if test="reposId != null">
        REPOS_ID = #{reposId,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        IS_ADMIN = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="access != null">
        ACCESS = #{access,jdbcType=INTEGER},
      </if>
      <if test="editEn != null">
        EDIT_EN = #{editEn,jdbcType=INTEGER},
      </if>
      <if test="addEn != null">
        ADD_EN = #{addEn,jdbcType=INTEGER},
      </if>
      <if test="deleteEn != null">
        DELETE_EN = #{deleteEn,jdbcType=INTEGER},
      </if>
      <if test="downloadEn != null">
        DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER},
      </if>
      <if test="heritable != null">
        HERITABLE = #{heritable,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.DocSystem.entity.ReposAuth">
    update repos_auth
    set USER_ID = #{userId,jdbcType=INTEGER},
      GROUP_ID = #{groupId,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=INTEGER},
      PRIORITY = #{priority,jdbcType=INTEGER},
      REPOS_ID = #{reposId,jdbcType=INTEGER},
      IS_ADMIN = #{isAdmin,jdbcType=INTEGER},
      ACCESS = #{access,jdbcType=INTEGER},
      EDIT_EN = #{editEn,jdbcType=INTEGER},
      ADD_EN = #{addEn,jdbcType=INTEGER},
      DELETE_EN = #{deleteEn,jdbcType=INTEGER},
      DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER},
      HERITABLE = #{heritable,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSelective" parameterType="com.DocSystem.entity.ReposAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos_auth
    where 1 = 1
    <if test="id != null">
      and ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and USER_ID = #{userId,jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
      and GROUP_ID = #{groupId,jdbcType=INTEGER}
    </if>
    <if test="reposId != null">
      and REPOS_ID = #{reposId,jdbcType=INTEGER}
    </if>
	<if test="isAdmin != null">
      IS_ADMIN = #{isAdmin,jdbcType=INTEGER}
    </if>
    <if test="access != null">
      ACCESS = #{access,jdbcType=INTEGER}
    </if>
    <if test="editEn != null">
      and EDIT_EN = #{editEn,jdbcType=INTEGER}
    </if>
    <if test="addEn != null">
      and ADD_EN = #{addEn,jdbcType=INTEGER}
    </if>
    <if test="deleteEn != null">
      and DELETE_EN = #{deleteEn,jdbcType=INTEGER}
    </if>
    <if test="downloadEn != null">
      and DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER}
    </if>
    <if test="heritable != null">
      and HERITABLE = #{heritable,jdbcType=INTEGER}
    </if>
  </select>
   
  <delete id="deleteSelective" parameterType="com.DocSystem.entity.ReposAuth">
    delete from repos_auth
      where 1 = 1
    <if test="id != null">
      and ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and USER_ID = #{userId,jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
      and GROUP_ID = #{groupId,jdbcType=INTEGER}
    </if>
    <if test="reposId != null">
      and REPOS_ID = #{reposId,jdbcType=INTEGER}
    </if>
	<if test="isAdmin != null">
      IS_ADMIN = #{isAdmin,jdbcType=INTEGER}
    </if>
    <if test="access != null">
      ACCESS = #{access,jdbcType=INTEGER}
    </if>
    <if test="editEn != null">
      and EDIT_EN = #{editEn,jdbcType=INTEGER}
    </if>
    <if test="addEn != null">
      and ADD_EN = #{addEn,jdbcType=INTEGER}
    </if>
    <if test="deleteEn != null">
      and DELETE_EN = #{deleteEn,jdbcType=INTEGER}
    </if>
    <if test="downloadEn != null">
      and DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER}
    </if>
    <if test="heritable != null">
      and HERITABLE = #{heritable,jdbcType=INTEGER}
    </if>
  </delete>
  
  <select id="getReposAuth" parameterType="com.DocSystem.entity.ReposAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos_auth
    where 1 = 1
    <if test="id != null">
      and ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null">
      and USER_ID = #{userId,jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
      and GROUP_ID = #{groupId,jdbcType=INTEGER}
    </if>
    <if test="reposId != null">
      and REPOS_ID = #{reposId,jdbcType=INTEGER}
    </if>
	<if test="isAdmin != null">
      IS_ADMIN = #{isAdmin,jdbcType=INTEGER}
    </if>
    <if test="access != null">
      ACCESS = #{access,jdbcType=INTEGER}
    </if>
    <if test="editEn != null">
      and EDIT_EN = #{editEn,jdbcType=INTEGER}
    </if>
    <if test="addEn != null">
      and ADD_EN = #{addEn,jdbcType=INTEGER}
    </if>
    <if test="deleteEn != null">
      and DELETE_EN = #{deleteEn,jdbcType=INTEGER}
    </if>
    <if test="downloadEn != null">
      and DOWNLOAD_EN = #{downloadEn,jdbcType=INTEGER}
    </if>
    <if test="heritable != null">
      and HERITABLE = #{heritable,jdbcType=INTEGER}
    </if>
  </select>
  <select id="getReposAllUsers" parameterType="java.lang.Integer" resultType="com.DocSystem.entity.ReposAuth">
	select 
		user.ID as userId,user.NAME as userName,user.REAL_NAME as realName,
		repos_auth.ID as id, 
		REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, ADD_EN, DELETE_EN, DOWNLOAD_EN, HERITABLE
      from user
    LEFT JOIN repos_auth ON user.ID = repos_auth.USER_ID and repos_auth.REPOS_ID = #{reposId,jdbcType=INTEGER}
  </select>
  <select id="getReposAllGroups" parameterType="java.lang.Integer" resultType="com.DocSystem.entity.ReposAuth">
	select 
		user_group.ID as groupId,user_group.NAME as groupName,
		repos_auth.ID as id, 
		REPOS_ID, IS_ADMIN, ACCESS, EDIT_EN, ADD_EN, DELETE_EN, DOWNLOAD_EN, HERITABLE
      from user_group
    LEFT JOIN repos_auth ON  user_group.ID = repos_auth.GROUP_ID and repos_auth.REPOS_ID = #{reposId,jdbcType=INTEGER}
  </select>
  <select id="getReposAuthForUser" parameterType="com.DocSystem.entity.ReposAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos_auth
    where 1=1
    	 <if test="reposId != null">
    		and REPOS_ID = #{reposId,jdbcType=INTEGER}
		</if>
		and (USER_ID = #{userId,jdbcType=INTEGER} or USER_ID = 0 or GROUP_ID IN (select GROUP_ID from group_member where USER_ID = #{userId,jdbcType=INTEGER}))
  </select>
  <select id="getReposAuthForGroup" parameterType="com.DocSystem.entity.ReposAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos_auth
    where 1=1
    	 <if test="reposId != null">
    		and REPOS_ID = #{reposId,jdbcType=INTEGER}
		</if>
		and (GROUP_ID = #{groupId,jdbcType=INTEGER} or USER_ID = 0)
  </select>
  <select id="getReposAuthForAnyUser" parameterType="com.DocSystem.entity.ReposAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos_auth
    where 1=1
    	 <if test="reposId != null">
    		and REPOS_ID = #{reposId,jdbcType=INTEGER}
		</if>
		and USER_ID = 0
  </select>
</mapper>