<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DocSystem.dao.ReposMapper">
  <resultMap id="BaseResultMap" type="com.DocSystem.entity.Repos">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="REAL_DOC_PATH" jdbcType="VARCHAR" property="realDocPath" />
    <result column="VER_CTRL" jdbcType="INTEGER" property="verCtrl" />
    <result column="IS_REMOTE" jdbcType="INTEGER" property="isRemote" />
    <result column="LOCAL_SVN_PATH" jdbcType="VARCHAR" property="localSvnPath" />
    <result column="SVN_PATH" jdbcType="VARCHAR" property="svnPath" />
    <result column="SVN_USER" jdbcType="VARCHAR" property="svnUser" />
    <result column="SVN_PWD" jdbcType="VARCHAR" property="svnPwd" />
    <result column="REVISION" jdbcType="VARCHAR" property="revision" />
    <result column="VER_CTRL1" jdbcType="INTEGER" property="verCtrl1" />
    <result column="IS_REMOTE1" jdbcType="INTEGER" property="isRemote1" />
    <result column="LOCAL_SVN_PATH1" jdbcType="VARCHAR" property="localSvnPath1" />
    <result column="SVN_PATH1" jdbcType="VARCHAR" property="svnPath1" />
    <result column="SVN_USER1" jdbcType="VARCHAR" property="svnUser1" />
    <result column="SVN_PWD1" jdbcType="VARCHAR" property="svnPwd1" />
    <result column="REVISION1" jdbcType="VARCHAR" property="revision1" />
    <result column="INFO" jdbcType="VARCHAR" property="info" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="OWNER" jdbcType="INTEGER" property="owner" />
    <result column="CREATE_TIME" jdbcType="BIGINT" property="createTime" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="LOCK_BY" jdbcType="INTEGER" property="lockBy" />
    <result column="LOCK_TIME" jdbcType="BIGINT" property="lockTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, TYPE, PATH, REAL_DOC_PATH, VER_CTRL, IS_REMOTE, LOCAL_SVN_PATH, SVN_PATH, 
    SVN_USER, SVN_PWD, REVISION, VER_CTRL1, IS_REMOTE1, LOCAL_SVN_PATH1, SVN_PATH1, SVN_USER1, 
    SVN_PWD1, REVISION1, INFO, PWD, OWNER, CREATE_TIME, STATE, LOCK_BY, LOCK_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from repos
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.DocSystem.entity.Repos">
    insert into repos (ID, NAME, TYPE, 
      PATH, REAL_DOC_PATH, VER_CTRL, 
      IS_REMOTE, LOCAL_SVN_PATH, SVN_PATH, 
      SVN_USER, SVN_PWD, REVISION, 
      VER_CTRL1, IS_REMOTE1, LOCAL_SVN_PATH1, 
      SVN_PATH1, SVN_USER1, SVN_PWD1, 
      REVISION1, INFO, PWD, 
      OWNER, CREATE_TIME, STATE, 
      LOCK_BY, LOCK_TIME)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{realDocPath,jdbcType=VARCHAR}, #{verCtrl,jdbcType=INTEGER}, 
      #{isRemote,jdbcType=INTEGER}, #{localSvnPath,jdbcType=VARCHAR}, #{svnPath,jdbcType=VARCHAR}, 
      #{svnUser,jdbcType=VARCHAR}, #{svnPwd,jdbcType=VARCHAR}, #{revision,jdbcType=VARCHAR}, 
      #{verCtrl1,jdbcType=INTEGER}, #{isRemote1,jdbcType=INTEGER}, #{localSvnPath1,jdbcType=VARCHAR}, 
      #{svnPath1,jdbcType=VARCHAR}, #{svnUser1,jdbcType=VARCHAR}, #{svnPwd1,jdbcType=VARCHAR}, 
      #{revision1,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{owner,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, 
      #{lockBy,jdbcType=INTEGER}, #{lockTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.DocSystem.entity.Repos">
    insert into repos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="realDocPath != null">
        REAL_DOC_PATH,
      </if>
      <if test="verCtrl != null">
        VER_CTRL,
      </if>
      <if test="isRemote != null">
        IS_REMOTE,
      </if>
      <if test="localSvnPath != null">
        LOCAL_SVN_PATH,
      </if>
      <if test="svnPath != null">
        SVN_PATH,
      </if>
      <if test="svnUser != null">
        SVN_USER,
      </if>
      <if test="svnPwd != null">
        SVN_PWD,
      </if>
      <if test="revision != null">
        REVISION,
      </if>
      <if test="verCtrl1 != null">
        VER_CTRL1,
      </if>
      <if test="isRemote1 != null">
        IS_REMOTE1,
      </if>
      <if test="localSvnPath1 != null">
        LOCAL_SVN_PATH1,
      </if>
      <if test="svnPath1 != null">
        SVN_PATH1,
      </if>
      <if test="svnUser1 != null">
        SVN_USER1,
      </if>
      <if test="svnPwd1 != null">
        SVN_PWD1,
      </if>
      <if test="revision1 != null">
        REVISION1,
      </if>
      <if test="info != null">
        INFO,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="owner != null">
        OWNER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="lockBy != null">
        LOCK_BY,
      </if>
      <if test="lockTime != null">
        LOCK_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="realDocPath != null">
        #{realDocPath,jdbcType=VARCHAR},
      </if>
      <if test="verCtrl != null">
        #{verCtrl,jdbcType=INTEGER},
      </if>
      <if test="isRemote != null">
        #{isRemote,jdbcType=INTEGER},
      </if>
      <if test="localSvnPath != null">
        #{localSvnPath,jdbcType=VARCHAR},
      </if>
      <if test="svnPath != null">
        #{svnPath,jdbcType=VARCHAR},
      </if>
      <if test="svnUser != null">
        #{svnUser,jdbcType=VARCHAR},
      </if>
      <if test="svnPwd != null">
        #{svnPwd,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=VARCHAR},
      </if>
      <if test="verCtrl1 != null">
        #{verCtrl1,jdbcType=INTEGER},
      </if>
      <if test="isRemote1 != null">
        #{isRemote1,jdbcType=INTEGER},
      </if>
      <if test="localSvnPath1 != null">
        #{localSvnPath1,jdbcType=VARCHAR},
      </if>
      <if test="svnPath1 != null">
        #{svnPath1,jdbcType=VARCHAR},
      </if>
      <if test="svnUser1 != null">
        #{svnUser1,jdbcType=VARCHAR},
      </if>
      <if test="svnPwd1 != null">
        #{svnPwd1,jdbcType=VARCHAR},
      </if>
      <if test="revision1 != null">
        #{revision1,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="lockBy != null">
        #{lockBy,jdbcType=INTEGER},
      </if>
      <if test="lockTime != null">
        #{lockTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.DocSystem.entity.Repos">
    update repos
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="realDocPath != null">
        REAL_DOC_PATH = #{realDocPath,jdbcType=VARCHAR},
      </if>
      <if test="verCtrl != null">
        VER_CTRL = #{verCtrl,jdbcType=INTEGER},
      </if>
      <if test="isRemote != null">
        IS_REMOTE = #{isRemote,jdbcType=INTEGER},
      </if>
      <if test="localSvnPath != null">
        LOCAL_SVN_PATH = #{localSvnPath,jdbcType=VARCHAR},
      </if>
      <if test="svnPath != null">
        SVN_PATH = #{svnPath,jdbcType=VARCHAR},
      </if>
      <if test="svnUser != null">
        SVN_USER = #{svnUser,jdbcType=VARCHAR},
      </if>
      <if test="svnPwd != null">
        SVN_PWD = #{svnPwd,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        REVISION = #{revision,jdbcType=VARCHAR},
      </if>
      <if test="verCtrl1 != null">
        VER_CTRL1 = #{verCtrl1,jdbcType=INTEGER},
      </if>
      <if test="isRemote1 != null">
        IS_REMOTE1 = #{isRemote1,jdbcType=INTEGER},
      </if>
      <if test="localSvnPath1 != null">
        LOCAL_SVN_PATH1 = #{localSvnPath1,jdbcType=VARCHAR},
      </if>
      <if test="svnPath1 != null">
        SVN_PATH1 = #{svnPath1,jdbcType=VARCHAR},
      </if>
      <if test="svnUser1 != null">
        SVN_USER1 = #{svnUser1,jdbcType=VARCHAR},
      </if>
      <if test="svnPwd1 != null">
        SVN_PWD1 = #{svnPwd1,jdbcType=VARCHAR},
      </if>
      <if test="revision1 != null">
        REVISION1 = #{revision1,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        INFO = #{info,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        OWNER = #{owner,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="lockBy != null">
        LOCK_BY = #{lockBy,jdbcType=INTEGER},
      </if>
      <if test="lockTime != null">
        LOCK_TIME = #{lockTime,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.DocSystem.entity.Repos">
    update repos
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=INTEGER},
      PATH = #{path,jdbcType=VARCHAR},
      REAL_DOC_PATH = #{realDocPath,jdbcType=VARCHAR},
      VER_CTRL = #{verCtrl,jdbcType=INTEGER},
      IS_REMOTE = #{isRemote,jdbcType=INTEGER},
      LOCAL_SVN_PATH = #{localSvnPath,jdbcType=VARCHAR},
      SVN_PATH = #{svnPath,jdbcType=VARCHAR},
      SVN_USER = #{svnUser,jdbcType=VARCHAR},
      SVN_PWD = #{svnPwd,jdbcType=VARCHAR},
      REVISION = #{revision,jdbcType=VARCHAR},
      VER_CTRL1 = #{verCtrl1,jdbcType=INTEGER},
      IS_REMOTE1 = #{isRemote1,jdbcType=INTEGER},
      LOCAL_SVN_PATH1 = #{localSvnPath1,jdbcType=VARCHAR},
      SVN_PATH1 = #{svnPath1,jdbcType=VARCHAR},
      SVN_USER1 = #{svnUser1,jdbcType=VARCHAR},
      SVN_PWD1 = #{svnPwd1,jdbcType=VARCHAR},
      REVISION1 = #{revision1,jdbcType=VARCHAR},
      INFO = #{info,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR},
      OWNER = #{owner,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=BIGINT},
      STATE = #{state,jdbcType=INTEGER},
      LOCK_BY = #{lockBy,jdbcType=INTEGER},
      LOCK_TIME = #{lockTime,jdbcType=BIGINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <insert id="add" keyColumn="id" keyProperty="id" parameterType="com.DocSystem.entity.Repos" useGeneratedKeys="true">
    insert into repos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="realDocPath != null">
        REAL_DOC_PATH,
      </if>
      <if test="verCtrl != null">
        VER_CTRL,
      </if>
      <if test="isRemote != null">
        IS_REMOTE,
      </if>
	  <if test="localSvnPath != null">
        LOCAL_SVN_PATH,
      </if>
      <if test="svnPath != null">
        SVN_PATH,
      </if>
      <if test="svnUser != null">
        SVN_USER,
      </if>
      <if test="svnPwd != null">
        SVN_PWD,
      </if>
      <if test="revision != null">
        REVISION,
      </if>
      <if test="verCtrl1 != null">
        VER_CTRL1,
      </if>
      <if test="isRemote1 != null">
        IS_REMOTE1,
      </if>
	  <if test="localSvnPath1 != null">
        LOCAL_SVN_PATH1,
      </if>
      <if test="svnPath1 != null">
        SVN_PATH1,
      </if>
      <if test="svnUser1 != null">
        SVN_USER1,
      </if>
      <if test="svnPwd1 != null">
        SVN_PWD1,
      </if>
      <if test="revision1 != null">
        REVISION1,
      </if>
      <if test="info != null">
        INFO,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="lockBy != null">
        LOCK_BY,
      </if>
      <if test="lockTime != null">
        LOCK_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="realDocPath != null">
        #{realDocPath,jdbcType=VARCHAR},
      </if>
      <if test="verCtrl != null">
        #{verCtrl,jdbcType=INTEGER},
      </if>
      <if test="isRemote != null">
        #{isRemote,jdbcType=INTEGER},
      </if>
      <if test="localSvnPath != null">
        #{localSvnPath,jdbcType=VARCHAR},
      </if>
      <if test="svnPath != null">
        #{svnPath,jdbcType=VARCHAR},
      </if>
      <if test="svnUser != null">
        #{svnUser,jdbcType=VARCHAR},
      </if>
      <if test="svnPwd != null">
        #{svnPwd,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=VARCHAR},
      </if>
      <if test="verCtrl1 != null">
        #{verCtrl1,jdbcType=INTEGER},
      </if>
      <if test="isRemote1 != null">
        #{isRemote1,jdbcType=INTEGER},
      </if>
      <if test="localSvnPath1 != null">
        #{localSvnPath1,jdbcType=VARCHAR},
      </if>
      <if test="svnPath1 != null">
        #{svnPath1,jdbcType=VARCHAR},
      </if>
      <if test="svnUser1 != null">
        #{svnUser1,jdbcType=VARCHAR},
      </if>
      <if test="svnPwd1 != null">
        #{svnPwd1,jdbcType=VARCHAR},
      </if>
      <if test="revision1 != null">
        #{revision1,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="lockBy != null">
        #{lockBy,jdbcType=INTEGER},
      </if>
      <if test="lockTime != null">
        #{lockTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="selectAuthedReposList" parameterType="java.lang.Integer" resultMap="BaseResultMap">  
   	select 
    <include refid="Base_Column_List" />
    from repos 
    where ID IN (select REPOS_ID from repos_auth where (USER_ID = #{userId,jdbcType=INTEGER} or USER_ID = 0) and ACCESS &gt; 0 ) 
  </select>  
  <select id="selectSelective" parameterType="com.DocSystem.entity.ReposAuth" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repos
    where 1 = 1
    <if test="id != null">
      and ID = #{id,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      and NAME = #{name,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      and TYPE = #{type,jdbcType=INTEGER}
    </if>
    <if test="path != null">
      and PATH = #{path,jdbcType=VARCHAR}
    </if>
    <if test="realDocPath != null">
      and REAL_DOC_PATH = #{realDocPath,jdbcType=VARCHAR}
    </if>
    <if test="localSvnPath != null">
      and LOCAL_SVN_PATH = #{localSvnPath,jdbcType=VARCHAR}
    </if>
    <if test="svnPath != null">
      and SVN_PATH = #{svnPath,jdbcType=VARCHAR}
    </if>
    <if test="svnUser != null">
      and SVN_USER = #{svnUser,jdbcType=VARCHAR}
    </if>
    <if test="svnPwd != null">
      and SVN_PWD = #{svnPwd,jdbcType=VARCHAR}
    </if>
    <if test="revision != null">
      and REVISION = #{revision,jdbcType=VARCHAR}
    </if>
    <if test="localSvnPath1 != null">
      and LOCAL_SVN_PATH1 = #{localSvnPath1,jdbcType=VARCHAR}
    </if>
    <if test="svnPath1 != null">
      and SVN_PATH1 = #{svnPath1,jdbcType=VARCHAR}
    </if>
    <if test="svnUser1 != null">
      and SVN_USER1 = #{svnUser1,jdbcType=VARCHAR}
    </if>
    <if test="svnPwd1 != null">
      and SVN_PWD1 = #{svnPwd1,jdbcType=VARCHAR}
    </if>    
    <if test="revision1 != null">
      and REVISION1 = #{revision1,jdbcType=VARCHAR}
    </if>
    <if test="info != null">
      and INFO = #{info,jdbcType=VARCHAR}
    </if>
    <if test="pwd != null">
      and PWD = #{pwd,jdbcType=VARCHAR}
    </if>
	<if test="owner != null">
      and OWNER = #{owner,jdbcType=INTEGER}
    </if>  
    <if test="createTime != null">
      and CREATE_TIME = #{createTime,jdbcType=BIGINT}
    </if>
    <if test="state != null">
   	  and STATE = #{state,jdbcType=INTEGER}
    </if>
    <if test="lockBy != null">
      and LOCK_BY = #{lockBy,jdbcType=INTEGER}
    </if>
    <if test="lockTime != null">
      and LOCK_TIME = #{lockTime,jdbcType=BIGINT}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">  
   	select 
    <include refid="Base_Column_List" />
    from repos
  </select>
</mapper>