
<div class="row">
    <div class="col-md-12">

        <div class="widget">
            <div class="widget-head">

                <div class="uni pull-left" >



                    <select class="form-control" id="examine" data-eb-xevent="Claim.refresh" data-eb-xparam="Claim.show" onchange="examineChange(this);">
                        <option value="0" {{if "0"== curExamine}}  selected {{/if}}>待审批</option>
                        <option value="1" {{if "1"== curExamine}}  selected {{/if}}>已通过</option>
                        <option value="2" {{if "2"== curExamine}}  selected {{/if}}>已拒绝</option>
                        <option value="x" {{if "x"== curExamine}}  selected {{/if}}>全部</option>
                    </select>

                </div>

                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content medias">

                <table class="table table-striped table-bordered table-hover" id="deals">
                    <thead>
                    <tr>
                        <th >申请编号</th>
                        <th >申请人</th>
                        <th >认领公司</th>
                        <th >资料</th>
                        <th >说明</th>
                        <th >申请时间</th>
                        <th >操作</th>
                    </tr>
                    </thead>
                    <tbody>

                        {{each list as value i}}
                        <tr>
                            <td>
                                {{value.CLAIM_ID}}
                            </td>
                            <td>
                                <a href="http://www.gofreeteam.com/toUserDetail2.do?token=$&id={{APPLY_USER_ID}}" target="_blank">{{value.user}}</a>
                                <span>{{value.PHONE_NUM}}</span>
                            </td>

                            <td>
                                <a href="http://www.gofreeteam.com/toUserDetail2.do?token=$&id={{COMPANY_ID}}" target="_blank">{{value.company}}</a>
                            </td>
                            <td>
                                <div class="card">
                                    <img src="{{value.ID_CARD_FRONT}}" alt="身份证证明">
                                </div>
                                <div>
                                    <img src="{{value.ID_CARD_BACK}}" alt="身份证反面">
                                </div>
                                <div>
                                    <img src="{{value.QYZZ}}" alt="公司执照">
                                </div>
                            </td>
                            <td>{{value.CLAIM_NOTE}}</td>
                            <td>{{value.CREATE_TIME}}</td>
                            <td>
                                {{if "1" != value.examine }}
                                <button data-id="{{value.id}}" onclick="claimApplication('ok','{{value.PHONE_NUM}}')" class="btn btn-lg btn-success examine_pass"><i class="icon-ok"></i>通过 </button>
                                {{/if}}
                                <button data-toggle="modal"
                                        data-target="#myModal" data-id="{{value.id}}" onclick="claimApplication('error','')" class="btn btn-lg btn-danger examine_ban" ><i class="icon-remove"></i>拒绝 </button>

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="widget-foot">

                    <ul class="pagination pull-right" id="pager">
                        {{# page(pageNumber,totalPage) }}

                    </ul>

                    <div class="clearfix"></div>

                </div>

            </div>
        </div>

    </div>
</div>
