
<div class="row">
    <div class="col-md-12">

        <div class="widget">
            <div class="widget-head">

                <div class="uni pull-left" >



                    <select class="form-control" id="examine" data-eb-xevent="Deal.refresh" data-eb-xparam="Deal.show" onchange="examineChange(this);">
                        <option value="0" {{if "0"== curExamine}}  selected {{/if}}>待付款</option>
                        <option value="1" {{if "1"== curExamine}}  selected {{/if}}>已成功</option>
                        <option value="2" {{if "2"== curExamine}}  selected {{/if}}>已失败</option>
                        <option value="3" {{if "3"== curExamine}}  selected {{/if}}>待确认</option>
                        <option value="x" {{if "x"== curExamine}}  selected {{/if}}>全部</option>
                    </select>

                </div>

                <div class="uni pull-left" style="margin-left: 2em">
                    <button onclick="payToUsers('#deals');" class="btn btn-lg btn-success examine_pass"><i class="icon-ok"></i>批量提现 </button>
                </div>

                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content medias">

                <table class="table table-striped table-bordered table-hover" id="deals">
                    <thead>
                    <tr>
                        <th >选择</th>
                        <th >收款人</th>
                        <th >收款账户</th>
                        <th >提现金额</th>
                        <th >申请时间</th>
                        <th >备注</th>
                    </tr>
                    </thead>
                    <tbody>

                        {{each list as value i}}
                        <tr>
                            <td >
                                <input type="checkbox" data-id="{{value.dealid}}"/>
                            </td>
                            <td>
                                {{value.REALNAME}}
                            </td>
                            <td>
                                {{value.PAYEE_ACC}}
                            </td>

                            <td>{{value.MONEY}}</td>
                            <td>{{value.CREATE_TIME}}</td>
                            <td>{{value.NOTE}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="widget-foot">

                    <ul class="pagination pull-right" id="pager">
                        {{# page(pageNumber,totalPage) }}

                    </ul>

                    <div class="clearfix"></div>

                </div>

            </div>
        </div>

    </div>
</div>
