<div class="padd" style="padding: 0 30px 50px 30px">
    {{each config.hotProjects as value i}}
        <div style="width: 250px; height: 200px; margin-top : 5em; display: inline-block; text-align: center">
            <div style="text-align: center">
                <img style="width: 150px; height: 150px" src="http://static.gofreeteam.com/webPages/upload/project/{{ value.PROLOG }}" >
            </div>
            <div class="recent-meta">{{ value.NAME }}</div>
            <div class="recent-meta">{{ value.KEYWORDS }}</div>
            <div class="recent-meta">{{ value.LASTUPDATETIME }}</div>

            <div class="input-group input-group-sm"
                 {{ if 0 == i || config.hotProjects.length-1 == i }}
                 style="left: -30px"
                 {{/if}}
            >



                <input type="text" data-ref="hp-{{i}}" style="width: 4em; float: right" class="form-control" value="{{ value.ID }}" >
                <div class="input-group-btn">
                    <button class="btn btn-xs btn-info" onclick="editHotProject({{i}})">更新</button>
                    <button class="btn btn-xs btn-danger" onclick="deleteHotProjects({{i}})">删除</button>
                    {{ if 0 != i }}
                    <button class="btn btn-xs" onclick="moveUpHotProjects({{i}})">前移</button>
                    {{/if}}
                    {{ if config.hotProjects.length-1 != i }}
                    <button class="btn btn-xs" onclick="moveDownHotProjects({{i}})">后移</button>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}

</div>

<div class="widget-foot">
    <div class="input-group input-group-sm">
        <input type="text" style="width: 4em;float: right" class="form-control" id="newHotProject" value="" >
        <span class="input-group-btn">
            <button class="btn btn-xs btn-info" onclick="addHotProject()">添加热门项目</button>
            </span>
    </div>
    <div class="clearfix"></div>
</div>