<div class="padd">

    <ul class="recent">
        {{each config.menu as value i}}
        <li>
            <div class="recent-content">
                <div class="recent-meta">位置 : {{ i + 1 }}</div>
                <div class="recent-meta">描述 : {{ value.dsc }}</div>
                <div class="recent-meta">链接 : {{ value.href }}</div>
                <div>
                    <img style="max-width: 800px; max-height: 300px" src="{{ value.url }}" alt="{{value.desc}}">
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-xs btn-danger" onclick="deleteMenu({{i}})">删除</button>
                    <button class="btn btn-xs btn-info" onclick="editMenu({{i}},'{{ value.dsc }}','{{ value.href }}')">编辑</button>
                    {{ if 0 != i }}
                    <button class="btn btn-xs" onclick="moveUpMenu({{i}})">上移</button>
                    {{/if}}
                    {{ if config.menu.length-1 != i }}
                    <button class="btn btn-xs" onclick="moveDownMenu({{i}})">下移</button>
                    {{/if}}
                </div>

                <div class="clearfix"></div>
            </div>
        </li>
        {{/each}}

    </ul>

</div>


<div class="widget-foot">

    <div class="form-horizontal">
        {{if undefined != edit }}
        <span>编辑位置 {{ edit + 1 }}</span>
        {{else}}
        <span>新增 Menu</span>
        {{/if}}
        <!-- Title -->
        <div class="form-group">
            <label class="control-label col-lg-3" for="menuTitle">title</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="menuTitle" value="{{editDesc}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3" for="menuLink">链接</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="menuLink" value="{{editHref}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3" for="menuImg">图片</label>
            <div class="col-lg-9">
                <input type="file" class="form-control" id="menuImg" name="menuImg">
            </div>
            {{if undefined != edit }}
            <span>选择新图片则替换老图片，不选择还是保留老图片</span>
            {{/if}}
        </div>

        <!-- Buttons -->
        <div class="form-group">
            <!-- Buttons -->
            {{if undefined != edit }}
            <div class="btn-group col-lg-offset-9 col-lg-2">
                <button type="submit" class="btn btn-danger" onclick="updateMenu()">取消编辑</button>
                <button type="submit" class="btn btn-success" id="btn_editMenu" onclick="saveEditMenu({{edit}})">编辑</button>
            </div>
            {{else}}
            <div class="col-lg-offset-9 col-lg-2">
                <button type="submit" class="btn btn-success" id="btn_updateMenu" onclick="addMenu()">添加</button>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="clearfix"></div>
</div>