
<div class="row">
    <div class="col-md-12">

        <div class="widget">
            <div class="widget-head">

                <div class="uni pull-left" >



                    <select class="form-control" id="examine" data-eb-xevent="Service.refresh" data-eb-xparam="Service.show" onchange="examineChange(this);">
                        <option value="0" {{if "0"== curExamine}}  selected {{/if}}>未审核</option>
                        <option value="1" {{if "1"== curExamine}}  selected {{/if}}>已通过</option>
                        <option value="2" {{if "2"== curExamine}}  selected {{/if}}>未通过</option>
                        <option value="x" {{if "x"== curExamine}}  selected {{/if}}>全部</option>
                    </select>

                </div>

                <div class="uni pull-left" style="margin-left: 2em">
                    <input type="text" data-eb-xevent="Service.findByName" id="searchName" placeholder="查找指定服务" onkeydown='if(event.keyCode==13){fastSearch(this)}'/>

                </div>

                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content medias">

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style="min-width: 15em">图片</th>
                        <th style="min-width: 15em">项目</th>
                        <th style="min-width: 5em">价格</th>
                        <th>简介</th>
                        <th style="min-width: 10em">更新时间</th>
                        <th style="min-width: 15em">审核</th>
                    </tr>
                    </thead>
                    <tbody>

                        {{each list as value i}}
                        <tr>
                            <td >{{value.id}}</td> <!-- {{i + (pageNumber-1) *10}} -->
                            <td>
                                <a target="_blank" href="http://www.gofreeteam.com/toService2.do?token=$&id={{value.id}}">
                                <img src="{{baseimg}}{{value.img}}" alt="头像" />
                                </a>
                            </td>
                            <td>{{value.name}}</td>
                            <td>{{value.price}}</td>
                            <td>{{value.intro}}</td>
                            <td>{{value.lastupdatetime}}</td>
                            <td >
                                {{if "1" == value.examine }}
                                <div class="star" data-eb-xevent="Service.examineScore" data-id="{{value.id}}" data-score="{{value.examine_score}}" ></div>
                                <div class="switch switch-large" data-on-label="推荐" data-off-label="没推荐" style="margin: 0.5em 0">
                                    <input data-eb-xevent="Service.recommend" data-id="{{value.id}}" type="checkbox" {{ value.recommend ? "checked" : "" }} />
                                </div>

                                {{/if}}

                                {{if "1" != value.examine }}
                                <button data-id="{{value.id}}" onclick="examine('Service.examine',{{value.id}},1,'Service.refresh','{{value.tel }}','{{value.email }}','服务')" class="btn btn-lg btn-success examine_pass"><i class="icon-ok"></i>通过 </button>
                                {{/if}}

                                <button data-toggle="modal"
                                        data-target="#myModal" data-id="{{value.id}}" onclick="examine('Service.examine',{{value.id}},2,'Service.refresh','{{value.tel }}','{{value.email }}','服务')" class="btn btn-lg btn-danger examine_ban" ><i class="icon-remove"></i>拒绝 </button>




                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="widget-foot">

                    <ul class="pagination pull-right" id="pager">

                        {{# page(pageNumber,totalPage) }}

                    </ul>

                    <div class="clearfix"></div>

                </div>

            </div>
        </div>

    </div>
</div>
