<div class="row">
        <div class="col-md-12">
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">系统设置</div>
              <div class="widget-icons pull-right">
                <button id="btnEnableSystemInfoSet" onclick="enableSystemInfoSet()" class="btn btn-lg btn-success examine_ban">编辑</button>
                <button id="btnSaveSystemInfoSet" onclick="saveSystemInfoSet()" class="btn btn-lg btn-success examine_ban"  style="display:none;">保存</button>                
                <button id="btnCancelSystemInfoSet" onclick="cancelSystemInfoSet()" class="btn btn-lg btn-warning examine_ban" style="display:none;">取消</button>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="widget-content">
	          <table class="table table-striped table-bordered table-hover">
	                <thead>
	                <tr>
	                  <th>系统信息</th>
	                  <th>详情</th>
	                  <th>操作</th>
	                </tr>
	                </thead>
	                <tbody>
	                  <tr>
	                    <td>当前版本</td>
	                    <td>
	                    	<input type="text" class="form-control" id="systemVersion" name="systemVersion" value="{{value.version}}" disabled="disabled" >
	                    </td>
	                    <td class="edit">
	                      	<button onclick="upgradeSystem()" data-id="" class="btn btn-lg btn-warning examine_ban">系统升级</button>	                      	
	                      	<button id="btnDisableSystem" onclick="disableSystem()" data-id="" class="btn btn-lg btn-danger examine_ban" {{if value.systemDisabled == 1}} style="display:none" {{/if}}>禁用系统</button>
	                      	<button id="btnEnableSystem" onclick="enableSystem()" data-id="" class="btn btn-lg btn-success examine_ban" {{if value.systemDisabled == 0}} style="display:none" {{/if}}>启用系统</button>
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>服务器</td>
	                    <td>
	                    	<input type="text" class="form-control" id="tomcatPath" name="tomcatPath" value="{{value.tomcatPath}}" disabled="disabled" >
	                    </td>
	                    <td class="edit">
	                      	<button onclick="restartTomcat()" data-id="" class="btn btn-lg btn-warning examine_ban">重启服务</button>
	                    </td>
	                  </tr>
	                  <tr style="display:none">
	                    <td>JavaHome</td>
	                    <td>
	                    	<input type="text" class="form-control" id="javaHome" name="javaHome" value="{{value.javaHome}}" disabled="disabled" >
	                    </td>
	                    <td class="edit">
	                    </td>
	                  </tr>
	                  <tr {{if value.docSysType > 0}} style="display:none" {{/if}}>
	                    <td>OpenOffice</td>
	                    <td>
	                    	<input type="text" class="form-control" id="openOfficePath" name="openOfficePath" value="{{value.openOfficePath}}" disabled="disabled" >
	                    </td>
	                    <td class="edit">
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>OfficeEditor</td>
	                    <td>
	                    	<input type="text" class="form-control" id="officeEditorApi" name="officeEditorApi" value="{{value.officeEditorApi}}" disabled="disabled" placeholder="http://localhost:88\web-apps\apps\api\documents\api.js">
	                    </td>
	                    <td class="edit">
	                      	<button onclick="installOffice()" data-id="" class="btn btn-lg btn-warning examine_ban">安装...</button>	                      	
	                      	<button onclick="onlineInstallOfficeConfirm()" data-id="" class="btn btn-lg btn-success examine_ban">在线安装</button>
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>仓库默认存储位置</td>
	                    <td>
	                    	<input type="text" class="form-control" id="defaultReposStorePath" name="defaultReposStorePath" value="{{value.defaultReposStorePath}}" disabled="disabled">
	                    </td>
	                    <td class="edit">
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>系统日志存储位置</td>
	                    <td>
	                    	<input type="text" class="form-control" id="systemLogStorePath" name="systemLogStorePath" value="{{value.systemLogStorePath}}" disabled="disabled">
	                    </td>
	                    <td class="edit">
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>索引数据库存储位置</td>
	                    <td>
	                    	<input type="text" class="form-control" id="indexDBStorePath" name="indexDBStorePath" value="{{value.indexDBStorePath}}" disabled="disabled">
	                    </td>
	                    <td class="edit">
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>LDAP设置</td>
	                    <td>
							<input type="text" class="form-control" id="ldapConfig" name="ldapConfig" value="{{value.ldapConfig}}" disabled="disabled" placeholder="ldap://xxx.xxx.xxx.xx:389/ou=xxx,dc=xxx,dc=xxx">
	                    </td>
	                    <td class="edit">
	                      	<button onclick="ldapTest()" data-id="" class="btn btn-lg btn-warning examine_ban">测试</button>
	                    </td>
	                  </tr>
	                  {{if value.isSalesServer == 1}}
	                  <tr>
	                    <td>系统密钥</td>
	                    <td></td>
	                    <td class="edit">
	                      	<button onclick="generateRootKey()" data-id="" class="btn btn-lg btn-warning examine_ban">生成</button>
	                      	<button onclick="exportRootKey()" data-id="" class="btn btn-lg btn-warning examine_ban">下载</button>
	                    	<button onclick="deleteRootKey()" data-id="" class="btn btn-lg btn-danger examine_ban"><i class="icon-remove"></i>删除 </button>
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>证书密钥</td>
	                    <td></td>
	                    <td class="edit">
	                      	<button onclick="generateLicenseKeyPair()" data-id="" class="btn btn-lg btn-warning examine_ban">生成</button>
	                      	<button onclick="exportLicenseKeyPair()" data-id="" class="btn btn-lg btn-warning examine_ban">下载</button>
	                    	<button onclick="deleteLicenseKeyPair()" data-id="" class="btn btn-lg btn-danger examine_ban"><i class="icon-remove"></i>删除 </button>
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>销售数据存储位置</td>
	                    <td>
	                    	<input type="text" class="form-control" id="salesDataStorePath" name="salesDataStorePath" value="{{value.salesDataStorePath}}" disabled="disabled">
	                    </td>
	                    <td class="edit">
	                    </td>
	                  </tr>
	                  {{/if}}
	                  <tr>
	                    <td>最大上传线程数</td>
	                    <td>
			            	<select class="form-control" id="maxThreadCount" style="width: 100%" disabled="disabled">   
			            		<option value="1" {{if value.maxThreadCount == 1}} selected="selected" {{/if}}>1</option>
			            		<option value="2" {{if value.maxThreadCount == 2}} selected="selected" {{/if}}>2</option>   
			            		<option value="3" {{if value.maxThreadCount == 3}} selected="selected" {{/if}}>3</option>   
			            		<option value="4" {{if value.maxThreadCount == 4}} selected="selected" {{/if}}>4</option> 
			            		<option value="5" {{if value.maxThreadCount == 5}} selected="selected" {{/if}}>5</option> 
			            		<option value="6" {{if value.maxThreadCount == 6}} selected="selected" {{/if}}>6</option> 
			            		<option value="7" {{if value.maxThreadCount == 7}} selected="selected" {{/if}}>7</option> 
			            		<option value="8" {{if value.maxThreadCount == 8}} selected="selected" {{/if}}>8</option> 
			            		<option value="9" {{if value.maxThreadCount == 9}} selected="selected" {{/if}}>9</option> 
			            		<option value="10" {{if value.maxThreadCount == 10}} selected="selected" {{/if}}>10</option> 
			            		<option value="20" {{if value.maxThreadCount == 20}} selected="selected" {{/if}}>20</option> 
			            		<option value="30" {{if value.maxThreadCount == 30}} selected="selected" {{/if}}>30</option> 
			            		<option value="40" {{if value.maxThreadCount == 40}} selected="selected" {{/if}}>40</option> 
			            		<option value="50" {{if value.maxThreadCount == 50}} selected="selected" {{/if}}>50</option> 
			            		<option value="100" {{if value.maxThreadCount == 100}} selected="selected" {{/if}}>100</option> 
			            	</select>
			            </td>
			            <td class="edit">
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>调试日志</td>
	                    <td>
			            	<select class="form-control" id="logLevel" style="width: 100%" disabled="disabled">   
			            		<option value="0" {{if value.logLevel == 0}} selected="selected" {{/if}}>debug</option>
			            		<option value="1" {{if value.logLevel == 1}} selected="selected" {{/if}}>info</option>   
			            		<option value="2" {{if value.logLevel == 2}} selected="selected" {{/if}}>warn</option>   
			            		<option value="2" {{if value.logLevel == 3}} selected="selected" {{/if}}>error</option> 
			            	</select>
			            	<div><span style="margin-right:5px"><input type="checkbox" id="outputToFileEn" {{if value.outputToFileEn == 1}} checked="checked" {{/if}}  onclick="selectOutputToFileEn()" disabled="disabled"/></span>输出到指定文件</div>
	                    	<input type="text" class="form-control" id="logFile" value="{{value.logFile}}" placeholder="如需输出到指定文件，请指定日志文件路径" disabled="disabled">			            		                    
			            </td>
	                    <td class="edit">
	                      	<button onclick="downloadLogFile()" data-id="" class="btn btn-lg btn-warning examine_ban">下载</button>
	                    	<button onclick="cleanLogFile()" data-id="" class="btn btn-lg btn-danger examine_ban"><i class="icon-remove"></i>清除</button>
	                    </td>
	                  </tr>
	                </tbody>
	          </table>
              <div class="widget-foot">
                <div class="clearfix"></div>                
              </div>
            </div>
            <!-- Matter ends -->
          </div>
        </div>
      </div>