/*======================================= 项目列表start ============================================*/
.searchArea{
	padding: 0px 10px;
}

.searchBar{
}

.label{
	line-height: 2;
}

.labelArea{
	padding: 0px 0px;
	max-width: 400px;
}

.list-group{
	text-align: center;
}


.proj{
	background: whitesmoke;
	margin: 10px 0px;
	border: 1px solid gainsboro;
}

.proj .fLeft img{
	width: 200px;
	max-height: 150px;
}

.projContent{
	width: 700px;
	padding: 0px 10px;
	font-family: '宋体';
}

.projContent-min{
	width: 550px;
	padding: 0px 10px;
	font-family: '宋体';
}

.prj_title{
	margin: 0px;
	padding: 10px;
	color:darkmagenta;	
	background: gainsboro;
}
#discribe{
	padding: 0px 10px;
}

.gotoPage{
	margin: 6px 0px;
	background: whitesmoke;
	color:steelblue;
	padding: 3px;
}

#pageSplit{
	text-align: right;
	background: gainsboro;
}

#pageSplit ul{
	margin:5px 0px;
	
}


.eBox{
	font-size: 14px;
	padding: 5px 20px;
	border: 1px gold solid;
}

.eBox a{
	text-decoration: none;
	color: goldenrod;
}

.eBox_success{
	font-size: 14px;
	padding: 5px 20px;
	border: 1px lightgreen solid;
}

.eBox_success a{
	text-decoration: none;
	color: green;
}

.eBox_fail{
	font-size: 14px;
	padding: 5px 20px;
	border: 1px rgba(232,48,56,0.5) solid;
}

.eBox_fail a{
	text-decoration: none;
	color: rgb(232,48,56);
}



/*======================================= 项目列表end ==============================================*/

.searchLabel li{
	float: left;
	
}

.praList li{
	display: block;
	padding: 5px;
	margin: 0px 2px;
}

.praList>li>span{
	display: block;
	padding: 5px;
}

.searchLabel li a{
	text-decoration: none;
	color: cornflowerblue;
}

.searchLabel li:hover{
	background: yellowgreen;
}

.searchLabel li a:hover{
	color: whitesmoke;
}

.liActive{
	background: yellowgreen;
}

.pArea{
	padding: 10px;
	border-bottom: #777777 1px solid ;
}

.country{
	width: 300px;
}

.country select{
	margin: 2px 5px;
	width: 80px;
	font-size:12px;
	height:26px;
	color: cornflowerblue;
}

.pimg{
	width: 100px;
}

.pimg img{
	width: 100px;
	height: 100px;
}


.pdescribe{
	max-width: 700px;
	max-height:60px;
	overflow: hidden;
}

.nameCart-max{
	padding: 10px;
	font-family: '楷体';
	color: black;
	/*width-width: 650px;*/
	width: 85%;
}

.nameCart-min{
	padding: 10px;
	color: black;
	/*width-width: 650px;*/
	width: 85%;
}

.nameCart-max span{
	color: royalblue;
}

.mylabel{
	width: 100px;
	text-align: center;
	background: indianred;
	color:white;
	padding: 5px;
}

.addGf{
	border: deepskyblue 1px solid;
	padding: 5px 10px;
	font-family: '宋体';
}

.addGf a{
	color: deepskyblue;
	text-decoration: none;
}

.pname{
	font-size: 16px;
	max-width: 500px;
}

.mrt{
	text-align: center;
}

.mrt p{
	font-size: 12px;
	font-family: '黑体';
}

.mrt a{
	color: cornflowerblue;
	text-decoration: none;
}

.ss{
	height: 40px;
}
.cb{
	width: 90px;
	height: 36px;
	padding: 0px 2px;
	border-radius: 18px;
	background: yellowgreen;
	border: 1px solid white;
}

.redbg{
	background: indianred;
}

.graybg{
	background: gray;
}


.cb-btn{
	width: 32px;
	height: 32px;
	margin: 1px 0px;
	border-radius: 16px;
	background: whitesmoke;
}

.cb-text{
	font-family: '黑体';
	font-size: 14px;
	padding: 6px 0px;
	width: 48px;
	height: 32px;
	color: white;
	text-align: center;
}

.pinfo{
	border: 1px solid lightgrey;
	box-shadow: #9D9D9D 1px 1px;
	padding: 10px;
}

.pinfo-reverse{
	border: 1px solid lightgrey;
	box-shadow: #9D9D9D -2px 2px;
	padding: 10px;
}

.pwin{
	width: 66px;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
}

ul.decimal {list-style-type: decimal}

.showOption{
	display: block;
	float: right;
	padding: 4px;
	border: solid 1px gold;
}

.mynav{
	border: 1px solid rgba(0,0,0,0.2);
}



.radius10{
	background: skyblue;
	color: black;
	border-radius: 10px;
	margin: 10px;
	width: 200px;
	border: 1px solid rgba(0,0,0,0.2);
}

.radius10 span{
	padding: 10px;
	color: ghostwhite;
}

.img-describe-title{
	background: whitesmoke;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid gainsboro;
	padding: 5px;
}

.overflowScroll{
	overflow: auto;
}

.s_heart{
	background: orange;
	border: 1px solid red;
	padding: 5px;
	margin: 10px ;
}

.s_heart a{
	color:white;
}

.liked a{
	color:white;
}

.s_heart a:hover{
	color:red;
}

#prj_imgArea img{
	margin: 5px;
}

.title_h4{
	background: lightsteelblue;
	color:white;
	padding: 2px 10px;
}

.thinBorder{
	border:1px solid rgba(0,0,0,0.1);
}

.thinBorder-dashed{
	border:1px dashed rgba(0,0,0,0.1);
}

.thinBorder-right{
	border-right:1px solid rgba(0,0,0,0.1);
}

a.canChip{
	text-decoration: underline;
}


.hr li{
	padding: 10px;
	margin: 2px 0px;
	text-align: center;
}

.hr li:hover{
	background: lightgray;
}

.lineH08{
	line-height: 1;
}

.tiaojian{
	min-height: 0px;
	max-height: 200px;
	padding: 0px 10px;
	overflow: hidden;
}

.tiaojian span{
	color: red;
	padding: 5px;
	font-family: '宋体';
	font-size: 12px;
}

.hostUl{
}

.hostUl li{
	padding: 8px;
}

.hostUl li:hover{
	border-right: darkmagenta 1px solid;
}

.ulActiveGold{
	color:orange !important;
}

.ulActiveGold a{
	color:orange !important;
}



.ulActiveGold i{
	color:orange !important;
}

.settingUl li{
	padding: 6px 18px;
	font-size: 12px;
}

h3 .li_img{
	font-size: 12px;
	color:darkmagenta;
}

.gf-font{
	font-size: 12px !important;
	font-family: '宋体' !important;
}

.pSetting{
	/*border-top: lightskyblue 2px solid ;*/
	margin: 5px 0px;
	margin-bottom: 100px ;
	padding: 10px;
}

.pSetting h4{
	font-family: "楷体";
	text-align: center;
}

.pSet-form table{
	width:100%;
}

.pSet-form tr{
	height: 60px;
	border-bottom: 1px lightgrey solid;
}

table.bI-Table tr td:first-child{
	padding-left: 50px;
}

#bindPhone td{
	padding: 10px;
}

select{
	height: 36px;
	font-size: 14px;
	
}

table.form-table{
	width: 100%;
}

.form-table tr{
	height: 60px;
	/* border-bottom: 1px lightgray solid; */
}

.form-table .content-table tr{
	height:auto !important;
}

.form-table td{
	padding: 10px;
	text-align: center;
}

.align-left{
	text-align: left !important;
}

.align-right{
	text-align: right !important;
}

.reg-p{
	padding: 50px 40px; 
}

.reg-p p{
	display: block;
	color: blue;
	font-size: 18px;
	font-family: '楷体';
	line-height: 2;
}


.reg-p p:first-letter{
	color:deepskyblue;
	font-size: x-large;
}

.ft-introduce{
	padding: 50px 40px 0px 40px;
}

.ft-introduce p{
	display: block;
	font-size: 14px;
	color: blue;	
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.img-file{
	width: 500px;
	height: 100px;
	background: rgba(0,0,0,0);
	
}

.imgWH200px{
	width: 200px;
	height: 200px;
}

.upimg-descripe{
	position: relative;
	height:200px;
	background: rgba(255,255,255,0.9);
	top: -33px;
}

.chooseJob{
	position:relative;
	top:40px;
	z-index:1000;
	background:white;
}

option{
	padding:4px 0px !important;
}

.disabled{
	color:gray;
	background:lightgray;
}

.pg_active{
	color: white !important;
	font-weight: bold;
	background: skyblue !important;
}

.main_msg{
	/*background: lightcyan;*/
}

.main_msg .msg_img{
	border-right: solid 2px darkmagenta;
}

.re_msg .msg_img{
	border-left: solid 2px dodgerblue;
}

.msg_title{
	font-family: '楷体';
}

.msg_title big{
	color:darkmagenta;
}

.re_msg big{
	color: black;
}

.msgDiaLog{
	height: 500px;
	overflow-y: scroll; 
}

#msgDiaLog p{
	margin-bottom: 2px;
}

.warning_area{
	min-height: 500px;
}

.talker{
	width: 70px;
	height:70px;
}

.msgTip{
	position:relative;
	top:-57px;
	left:8px;
	cursor: pointer;
	background: rgb(212,36,11);
	z-index: 10;
}

.firstMsg{
	background: whitesmoke;
	left: -50px;
	position:relative;
	width:300px;
	z-index: 11;
}

.sysMsg{
	max-height:500px;
	overflow-y: auto;
}

/*五角星*/
.starDiv{
	
}

.starDiv span{
	font-size: 20px !important;
}

.myUploadImg:hover{
	background: lightskyblue;
}

.companyPanel{
	border-radius: 5px;
	width:100%;
	min-height: 250px;
}

.qyImg{
	text-align: center;
	vertical-align: middle;
}

.qyImg img{
	margin:5px 2px;
}

.coverImg{
	position: relative;
	z-index: 1;
	height:40px;
	background: lightskyblue;
	margin:5px auto;
	left:2px;
	top:-50px;
}

.qyImgBox{
	width:31%;
	margin: auto 1%;
	
}

.font-middle#parent{
	display: table;
}

.font-middle #child{
	display: table-cell;
	vertical-align: middle;
}
.mydropdown{
	position: absolute;
	z-index:1000;
	background: white;
	width: 500px;
}

.mydropdown td{
	padding:0px;
}

.mydropdown table{
	border-color: rgba(196,217,243,1);
}

.mydropdown tr{
	border:2px;
	padding: 10px;
	border-bottom: 1px #e3e3e3 solid;
}

.mydropdown td{
	border-color: rgba(196,217,243,0.8);
}

.mydropdown tr:hover{
	background: whitesmoke;
}

.mydropdown tr.active{
	background: lightyellow;
	border-bottom: 1px solid #f83;
}

table td{
	vertical-align: middle !important;
}

#showEmployeeDiv p{
	margin-bottom: 5px;
}

#showEmployeeDiv .col-xs-3:hover{
	background: rgba(196,217,243,0.3);
}

ul{
	list-style: none;
}
.lastBg{
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	z-index: -1;
}

.img-small{
	width: 50px;
	height: 50px;
}

.img-middle{
	width: 100px;
	height: 100px;
}

.img-large{
	width: 150px;
	height: 150px;
}

.qyClass{
	background:  url(../images/qyry.png);
	background-size: cover;
}

.qyClass_default{
	background:  url(../images/bzry.png);
	background-size: cover;
}

.whiteBorder{
	border: 1px solid white;
	border-radius: 2px;
}

.loading{
	background:  url(../images/loading.gif) no-repeat;
	background-color: rgba(0,0,0,0);
	background-position: center;
	height: 100px;
}

.email-icon{
	border: 1px solid white;
	display: block;
	color: gray;
	font-size: 20px;
	padding: 4px 10px;
	background: whitesmoke;
	border-radius: 3px; 
}

.email-icon:hover{
	border-color: lightskyblue;
}

.mybadge{
	background:red;
}

.fixbg{
	background-position: center;/* 背景居中 */
	background-repeat: no-repeat;/* 无重复 */
	background-attachment: fixed;/* 固定不动 */
}

.p3{
	padding: 3px;
}

.font-12{
	font-size: 12px;
}

.mySelect2 .select2-selection{
	height: 30px !important;
}

.mySelect2 .select2-selection__arrow{
	height: 29px !important;
}

.mySelect2 .select2-selection__rendered{
	padding: 1px 20px !important;
}

.chiosePrice{
	position: absolute;
	z-index: 2;
	margin-left: 40px;
	width:150px;
	background: whitesmoke;
	border: 1px dashed skyblue;
	padding:3px;
}

.chiosePrice select {
	width: 100%;
}

.projectContent img{
	max-width: 95%;
}