.idea/
build/node_modules
build/$weak$.js
common/libfont/wasm/build/emsdk
common/libfont/wasm/build/freetype-2.9.1
common/AllFonts.js
common/libfont/js/fonts.js
common/libfont/wasm/fonts.js
common/Images/fonts_thumbnail.png
common/Images/fonts_thumbnail@2x.png
common/Images/themes_thumbnail.png
common/Images/themes_thumbnail@2x.png
slide/themes/theme*
slide/themes/themes.js
*~
.DS_Store
/deploy
/develop
cell/sdk-all.props.js.map
cell/sdk-all.vars.js.map
slide/sdk-all.props.js.map
slide/sdk-all.vars.js.map
word/sdk-all.props.js.map
word/sdk-all.vars.js.map
